# Импорт необходимых библиотек

In [110]:
from pyspark.sql.window import Window
from pyspark.sql.functions import avg, stddev, abs, col

In [126]:
import pyspark.sql.functions as F
from pyspark.sql.functions import round
from pyspark.sql import SparkSession
from pyspark.sql.window import Window

# Запуск Spark сессии

In [2]:
from pyspark.sql import SparkSession

spark = SparkSession.builder \
    .appName("TTTT") \
    .config("spark.jars", "/opt/spark/jars/clickhouse-jdbc-0.9.1.jar,/opt/spark/jars/postgresql-42.7.7.jar") \
    .getOrCreate()

print("Spark успешно запущен!")

Spark успешно запущен!

In [3]:
spark

In [5]:
# data = [("Test", 1)]
# df = spark.createDataFrame(data, ["Name", "Value"])
# df.show()

+----+-----+
|Name|Value|
+----+-----+
|Test|    1|
+----+-----+

In [10]:
# # Узнать текущий порт Spark UI
# print("Spark UI port:", spark.sparkContext.uiWebUrl)

# # Или получить ссылку напрямую
# spark_ui_url = spark.sparkContext.uiWebUrl
# print(f"Spark UI: {spark_ui_url}")

Spark UI port: http://77346ecdd72b:4040
Spark UI: http://77346ecdd72b:4040

In [80]:
# Узнаем текущий адрес Spark UI
ui_address = spark.sparkContext.uiWebUrl
print("Spark UI доступен по адресу:", ui_address)

# Также можно получить отдельно host и port
ui_host = spark.sparkContext.conf.get("spark.driver.host", "localhost")
ui_port = spark.sparkContext.conf.get("spark.ui.port", "4040")
print(f"Spark UI host: {ui_host}, port: {ui_port}")

Spark UI доступен по адресу: http://77346ecdd72b:4040

AttributeError: 'SparkContext' object has no attribute 'config'

# Подключаемся к источникам

## csv

In [4]:
campaigns_dict = spark.read.option("header", "true").option("inferSchema", "true").csv("/data/campaigns_dict.csv")

# Показать структуру
campaigns_dict.printSchema()

# Показать данные
campaigns_dict.show(5, truncate = False)

root
 |-- campaign_id: integer (nullable = true)
 |-- campaign_name: string (nullable = true)

+-----------+------------------------------------------+
|campaign_id|campaign_name                             |
+-----------+------------------------------------------+
|1          |year_modern_kitchen_launch_20250115       |
|2          |quarter_custom_kitchens_showcase_20240210 |
|3          |month_smart_kitchen_promotion_20240305    |
|4          |year_luxury_kitchens_exhibit_20240420     |
|5          |quarter_ecofriendly_kitchen_offer_20240512|
+-----------+------------------------------------------+
only showing top 5 rows

## parquet

In [5]:
submits = spark.read.parquet("/data/submits.parquet")

In [55]:
submits.show()

+---------+--------+-----------+
|submit_id|    name|      phone|
+---------+--------+-----------+
|     2282|Jennifer|79511904041|
|     9898| Jeffrey|79824419733|
|     9005|   Linda|79074725672|
|     1507|  Teresa|79864203598|
|     3803|   Tanya|79779567654|
|     5351| Lindsay|79818056314|
|     9262|   Holly|79492883186|
|     7363|  Sharon|79323094610|
|     4705| Jessica|79035076887|
|     6148| Gabriel|79763476258|
|     4926| Michael|79007408862|
|     3823| Patrick|79549207982|
|     4951| Cameron|79335443328|
|     2733|  Robert|79752185660|
|     1938| William|79785933427|
|     2934| Bradley|79833514346|
|       22|Michelle|79980687808|
|     6845|  Alisha|79027372303|
|      243|    Eric|79527208561|
|      534|Jennifer|79951079715|
+---------+--------+-----------+
only showing top 20 rows

In [21]:
submits.printSchema()

root
 |-- submit_id: long (nullable = true)
 |-- name: string (nullable = true)
 |-- phone: long (nullable = true)

In [9]:
import pyarrow
import pyarrow.parquet as pq

In [10]:
pq.read_metadata("/data/submits.parquet")

<pyarrow._parquet.FileMetaData object at 0x7f560e2d9a30>
  created_by: parquet-cpp-arrow version 19.0.0
  num_columns: 3
  num_rows: 4000
  num_row_groups: 1
  format_version: 2.6
  serialized_size: 2371

In [35]:
deals = spark.read.parquet("/data/deals.parquet")

In [64]:
deals.show(5, truncate = False)

+-------+----------+---------------------+-----------+------------------------+-----------------------------------------------------+
|deal_id|deal_date |fio                  |phone      |email                   |address                                              |
+-------+----------+---------------------+-----------+------------------------+-----------------------------------------------------+
|1      |2024-03-04|Gregory Wu           |79746561889|paul80@example.net      |098 Yates Cliff Apt. 241, East Monica, DE 88076      |
|2      |2024-08-20|William Ross Jr.     |79074725672|xyoung@example.org      |197 Willie Groves Apt. 655, Port Angelaberg, LA 39384|
|3      |2024-10-15|Sonya Kerr           |79201244835|elewis@example.com      |144 Andrew Cape, Lake Nicholas, SC 58918             |
|4      |2024-12-31|Mrs. Angela Tucker MD|79771829751|robertparker@example.net|6056 Collins View, South Harold, OR 15650            |
|5      |2024-03-23|Eric Flores          |79729054809|barbara73@example.net   |29684 Mcfarland Burg Suite 225, New Joseph, PW 68120 |
+-------+----------+---------------------+-----------+------------------------+-----------------------------------------------------+
only showing top 5 rows

## postgres

In [43]:
pg_host = 'localhost'
pg_port = '5432'
pg_db = 'webinar'
pg_table = 'costs'
pg_user = 'postgres'
pg_password = 'postgres'

In [6]:
# Используйте IP адрес контейнера PostgreSQL
pg_host = '172.17.0.3'    # IP адрес из docker inspect
pg_port = '5432'          # Порт PostgreSQL
pg_db = 'webinar'         # База данных
pg_user = 'postgres'      # Пользователь
pg_password = 'postgres'  # Пароль

# spark = SparkSession.builder \
#     .appName("PostgreSQL Connection") \
#     .config("spark.jars", "/opt/spark/jars/postgresql-42.7.7.jar") \
#     .getOrCreate()

# Сначала создайте тестовую таблицу
# Выполните в терминале:
# docker exec -it postgres psql -U postgres -d webinar -c "CREATE TABLE costs (date DATE, campaign_id INTEGER, costs DECIMAL(10,2), clicks INTEGER, views INTEGER); INSERT INTO costs VALUES ('2024-01-01', 1, 670.52, 40, 110);"

In [7]:

costs = (
    spark.read
    .format('jdbc')
    .option('url', f'jdbc:postgresql://{pg_host}:{pg_port}/{pg_db}')
    .option('dbtable', 'costs')
    .option('user', pg_user)
    .option('password', pg_password)
    .option('driver', 'org.postgresql.Driver')
    .load()
)

costs.show(5)

+----------+-----------+------+------+-----+
|      date|campaign_id| costs|clicks|views|
+----------+-----------+------+------+-----+
|2024-01-01|          1|670.52|    40|  110|
|2024-01-01|          2| 602.5|    11|  849|
|2024-01-01|          3|654.74|    51|  566|
|2024-01-01|          4|897.24|    86|  679|
|2024-01-01|          5|758.19|    30|  585|
+----------+-----------+------+------+-----+
only showing top 5 rows

In [34]:
costs.count()

39300

In [53]:
costs.printSchema()

root
 |-- date: date (nullable = true)
 |-- campaign_id: integer (nullable = true)
 |-- costs: double (nullable = true)
 |-- clicks: integer (nullable = true)
 |-- views: integer (nullable = true)

## clickhouse

In [24]:
ch_host = '172.17.0.1'
ch_port = '8123'
ch_db = 'default'
ch_table = 'visits_clickhouse'

In [21]:

# visits = (
#     spark.read
#     .format('jdbc')
#     .option('url', f'jdbc:clickhouse://{ch_host}:{ch_port}/{ch_db}')
#     .option('dbtable', ch_table)
#     .option('driver', 'com.clickhouse.jdbc.ClickHouseDriver')
#     .load()
# )

In [25]:
import requests
import json
from pyspark.sql.types import *

# Выполним запрос к ClickHouse через HTTP API
query = "SELECT * FROM visits_clickhouse"
url = f"http://{ch_host}:{ch_port}/?query={query}&default_format=JSONCompact"

try:
    response = requests.get(url)
    if response.status_code == 200:
        # Парсим JSON ответ
        data = response.json()
        
        # Извлекаем данные и схему
        columns = [f['name'] for f in data['meta']]
        rows = data['data']
        
        # Создаем DataFrame
        visits = spark.createDataFrame(rows, columns)
        visits.show()
    else:
        print(f"Ошибка HTTP: {response.status_code}, {response.text}")
except Exception as e:
    print(f"Ошибка при выполнении запроса: {e}")

+-------+-------------------+--------------------+--------+--------+--------+--------------------+----------------+
|visitid|      visitDateTime|                 URL|duration|clientID|  source|         UTMCampaign|          params|
+-------+-------------------+--------------------+--------+--------+--------+--------------------+----------------+
| 720128|2024-01-23 18:23:48|https://our-cool-...|      80|     289|      ad|month_openconcept...|              []|
| 695905|2024-07-24 03:32:19|https://our-cool-...|      66|     765|internal|month_contemporar...|['submit', 9469]|
| 124704|2024-05-21 15:29:08|https://our-cool-...|      91|     440|internal|month_openconcept...|              []|
| 442188|2024-01-30 21:11:15|https://our-cool-...|      65|     140| organic|month_contemporar...| ['submit', 911]|
| 644057|2024-03-11 14:05:08|https://our-cool-...|      22|     357|internal|month_openconcept...|              []|
| 511300|2024-06-16 16:41:01|https://our-cool-...|      57|     918|  direct|month_openconcept...|['submit', 9928]|
| 453192|2024-05-25 05:11:25|https://our-cool-...|      64|     114|      ad|quarter_ecofriend...|              []|
| 976969|2024-10-11 21:53:10|https://our-cool-...|      85|     558| organic|month_contemporar...|              []|
| 875845|2024-09-03 02:21:18|https://our-cool-...|       0|     344|internal|quarter_tradition...|              []|
| 578317|2025-01-13 22:05:08|https://our-cool-...|      63|     164| organic|month_smart_kitch...|['submit', 4618]|
| 832703|2024-12-03 00:12:23|https://our-cool-...|      20|     329|      ad|year_luxury_kitch...|              []|
| 584988|2024-03-25 13:17:02|https://our-cool-...|      63|     209|      ad|month_smart_kitch...|['submit', 6538]|
| 654571|2024-06-09 17:42:01|https://our-cool-...|      84|     719|      ad|month_contemporar...|              []|
| 271155|2024-03-09 08:02:52|https://our-cool-...|      52|     717|      ad|year_traditional_...|['submit', 4993]|
| 505012|2024-12-01 07:20:53|https://our-cool-...|      62|     725|      ad|month_contemporar...|              []|
| 776324|2024-06-05 09:43:06|https://our-cool-...|      35|     226| organic|year_modern_kitch...|              []|
| 498077|2024-04-20 17:16:34|https://our-cool-...|      34|     280|  direct|year_traditional_...|              []|
| 631188|2024-06-12 17:26:39|https://our-cool-...|      70|     338|internal|quarter_custom_ki...| ['submit', 614]|
| 808125|2024-11-26 19:01:47|https://our-cool-...|      45|     188|internal|quarter_tradition...|['submit', 5898]|
| 326030|2024-11-15 16:05:19|https://our-cool-...|      49|     219|internal|year_modern_kitch...|              []|
+-------+-------------------+--------------------+--------+--------+--------+--------------------+----------------+
only showing top 20 rows

# Готовим источники

## 1. Визиты (clickhouse)

In [26]:
visits.show()

+-------+-------------------+--------------------+--------+--------+--------+--------------------+----------------+
|visitid|      visitDateTime|                 URL|duration|clientID|  source|         UTMCampaign|          params|
+-------+-------------------+--------------------+--------+--------+--------+--------------------+----------------+
| 720128|2024-01-23 18:23:48|https://our-cool-...|      80|     289|      ad|month_openconcept...|              []|
| 695905|2024-07-24 03:32:19|https://our-cool-...|      66|     765|internal|month_contemporar...|['submit', 9469]|
| 124704|2024-05-21 15:29:08|https://our-cool-...|      91|     440|internal|month_openconcept...|              []|
| 442188|2024-01-30 21:11:15|https://our-cool-...|      65|     140| organic|month_contemporar...| ['submit', 911]|
| 644057|2024-03-11 14:05:08|https://our-cool-...|      22|     357|internal|month_openconcept...|              []|
| 511300|2024-06-16 16:41:01|https://our-cool-...|      57|     918|  direct|month_openconcept...|['submit', 9928]|
| 453192|2024-05-25 05:11:25|https://our-cool-...|      64|     114|      ad|quarter_ecofriend...|              []|
| 976969|2024-10-11 21:53:10|https://our-cool-...|      85|     558| organic|month_contemporar...|              []|
| 875845|2024-09-03 02:21:18|https://our-cool-...|       0|     344|internal|quarter_tradition...|              []|
| 578317|2025-01-13 22:05:08|https://our-cool-...|      63|     164| organic|month_smart_kitch...|['submit', 4618]|
| 832703|2024-12-03 00:12:23|https://our-cool-...|      20|     329|      ad|year_luxury_kitch...|              []|
| 584988|2024-03-25 13:17:02|https://our-cool-...|      63|     209|      ad|month_smart_kitch...|['submit', 6538]|
| 654571|2024-06-09 17:42:01|https://our-cool-...|      84|     719|      ad|month_contemporar...|              []|
| 271155|2024-03-09 08:02:52|https://our-cool-...|      52|     717|      ad|year_traditional_...|['submit', 4993]|
| 505012|2024-12-01 07:20:53|https://our-cool-...|      62|     725|      ad|month_contemporar...|              []|
| 776324|2024-06-05 09:43:06|https://our-cool-...|      35|     226| organic|year_modern_kitch...|              []|
| 498077|2024-04-20 17:16:34|https://our-cool-...|      34|     280|  direct|year_traditional_...|              []|
| 631188|2024-06-12 17:26:39|https://our-cool-...|      70|     338|internal|quarter_custom_ki...| ['submit', 614]|
| 808125|2024-11-26 19:01:47|https://our-cool-...|      45|     188|internal|quarter_tradition...|['submit', 5898]|
| 326030|2024-11-15 16:05:19|https://our-cool-...|      49|     219|internal|year_modern_kitch...|              []|
+-------+-------------------+--------------------+--------+--------+--------+--------------------+----------------+
only showing top 20 rows

In [27]:
filtered_visits1 = (
    visits
    .withColumn('dt', F.date_format(F.col('visitDateTime'), 'yyyy-MM-dd'))
    .where(F.col('dt').between('2024-01-01', '2025-01-27'))
    .where(F.col('source').isin('ad', 'direct'))
    .where(F.col('URL').rlike('.*checkout.*|.*add.*|.*home.*|.*contact.*|.*top50.*|.*customer-service.*|.*wishlist.*|.*sale.*|.*best-sellers.*|.*view.*|.*discount.*|.*featured.*|.*new-arrivals.*|.*settings.*|.*return-policy.*|.*edit.*|.*delete.*|.*reviews.*|.*products.*|.*about.*'))
    .select(
        'dt',
        'visitid',
        'clientID',
        'URL',
        'duration',
        'source',
        'UTMCampaign',
        'params',
        F.regexp_replace(F.col('params'), r'\[|\]', '').alias('params_regex')
    )
    .withColumn('params_split', F.split('params_regex', ', '))
)

In [208]:
filtered_visits1.show()

+----------+-------+--------+--------------------+--------+------+--------------------+----------------+--------------+----------------+
|        dt|visitid|clientID|                 URL|duration|source|         UTMCampaign|          params|  params_regex|    params_split|
+----------+-------+--------+--------------------+--------+------+--------------------+----------------+--------------+----------------+
|2024-01-23| 720128|     289|https://our-cool-...|      80|    ad|month_openconcept...|              []|              |              []|
|2024-06-16| 511300|     918|https://our-cool-...|      57|direct|month_openconcept...|['submit', 9928]|'submit', 9928|['submit', 9928]|
|2024-05-25| 453192|     114|https://our-cool-...|      64|    ad|quarter_ecofriend...|              []|              |              []|
|2024-12-03| 832703|     329|https://our-cool-...|      20|    ad|year_luxury_kitch...|              []|              |              []|
|2024-03-25| 584988|     209|https://our-cool-...|      63|    ad|month_smart_kitch...|['submit', 6538]|'submit', 6538|['submit', 6538]|
|2024-06-09| 654571|     719|https://our-cool-...|      84|    ad|month_contemporar...|              []|              |              []|
|2024-03-09| 271155|     717|https://our-cool-...|      52|    ad|year_traditional_...|['submit', 4993]|'submit', 4993|['submit', 4993]|
|2024-12-01| 505012|     725|https://our-cool-...|      62|    ad|month_contemporar...|              []|              |              []|
|2024-04-20| 498077|     280|https://our-cool-...|      34|direct|year_traditional_...|              []|              |              []|
|2024-02-12| 267059|     688|https://our-cool-...|      48|direct|month_openconcept...|              []|              |              []|
|2024-05-17| 946915|     910|https://our-cool-...|      31|    ad|quarter_spacesavi...|['submit', 3805]|'submit', 3805|['submit', 3805]|
|2024-05-12| 787280|     704|https://our-cool-...|      93|    ad|year_traditional_...|              []|              |              []|
|2024-09-27| 789806|     418|https://our-cool-...|      76|    ad|year_traditional_...|['submit', 1473]|'submit', 1473|['submit', 1473]|
|2024-05-30| 649340|     633|https://our-cool-...|      96|    ad|month_openconcept...|['submit', 1887]|'submit', 1887|['submit', 1887]|
|2024-06-18| 520442|     390|https://our-cool-...|      23|    ad|year_luxury_kitch...|['submit', 8830]|'submit', 8830|['submit', 8830]|
|2024-11-12| 721988|     712|https://our-cool-...|      87|direct|quarter_spacesavi...|['submit', 5130]|'submit', 5130|['submit', 5130]|
|2024-12-17| 850563|     372|https://our-cool-...|      64|    ad|year_traditional_...|['submit', 6497]|'submit', 6497|['submit', 6497]|
|2024-08-15| 970971|     338|https://our-cool-...|      41|    ad|month_smart_kitch...|['submit', 5663]|'submit', 5663|['submit', 5663]|
|2024-10-30| 329267|     776|https://our-cool-...|       1|direct|quarter_custom_ki...|['submit', 3867]|'submit', 3867|['submit', 3867]|
|2024-09-14| 735214|     763|https://our-cool-...|      33|direct|quarter_spacesavi...|['submit', 8525]|'submit', 8525|['submit', 8525]|
+----------+-------+--------+--------------------+--------+------+--------------------+----------------+--------------+----------------+
only showing top 20 rows

In [17]:
filtered_visits1.printSchema()

root
 |-- dt: string (nullable = true)
 |-- visitid: long (nullable = true)
 |-- clientID: long (nullable = true)
 |-- URL: string (nullable = true)
 |-- duration: long (nullable = true)
 |-- source: string (nullable = true)
 |-- UTMCampaign: string (nullable = true)
 |-- params: string (nullable = true)
 |-- params_regex: string (nullable = true)
 |-- params_split: array (nullable = true)
 |    |-- element: string (containsNull = false)

In [28]:
filtered_visits2 = (filtered_visits1
                        .withColumn('event_type', F.regexp_replace(F.col("params_split")[0], "'", ''))
                        .withColumn('event_id', F.col('params_split')[1].cast('int'))
                   )

In [19]:
filtered_visits2.printSchema()

root
 |-- dt: string (nullable = true)
 |-- visitid: long (nullable = true)
 |-- clientID: long (nullable = true)
 |-- URL: string (nullable = true)
 |-- duration: long (nullable = true)
 |-- source: string (nullable = true)
 |-- UTMCampaign: string (nullable = true)
 |-- params: string (nullable = true)
 |-- params_regex: string (nullable = true)
 |-- params_split: array (nullable = true)
 |    |-- element: string (containsNull = false)
 |-- event_type: string (nullable = true)
 |-- event_id: integer (nullable = true)

In [29]:
visits_df = (
    filtered_visits2
    .where(F.col('event_type') == 'submit')
    .select(
        'dt',
        F.col('visitid').cast('string').alias('visitid'),
        F.col('clientID').cast('string').alias('clientid'),
        'URL',
        'duration',
        'source',
        'UTMCampaign',
        'event_type',
        'event_id'
    )
    .distinct()
)

In [25]:
visits_df.show(1, truncate = False, vertical = True)

-RECORD 0----------------------------------------------------
 dt          | 2024-07-16
 visitid     | 294982
 clientid    | 773
 URL         | https://our-cool-website.com/customer-service
 duration    | 57
 source      | direct
 UTMCampaign | year_traditional_kitchens_launch_20240707
 event_type  | submit
 event_id    | 9620
only showing top 1 row

In [26]:
visits_df.count()

2433

In [27]:
visits.count()

10000

## 2. Расходы (postgres)

Рассчитаю суммы расходов, кликов и просмотрам, сгруппированные по полю campaign_id

In [38]:
costs.show(1)

+----------+-----------+------+------+-----+
|      date|campaign_id| costs|clicks|views|
+----------+-----------+------+------+-----+
|2024-01-01|          1|670.52|    40|  110|
+----------+-----------+------+------+-----+
only showing top 1 row

In [30]:
costs_df = (
    costs
    .groupBy(
        F.col('date').cast('string').alias('date'),
        'campaign_id'
    )
    .agg(
        F.sum(F.col('costs')).cast('decimal(19,2)').alias('costs'),
        F.sum(F.col('clicks')).alias('clicks'),
        F.sum(F.col('views')).alias('views')
    )
)

In [238]:
costs_df.show(2)

+----------+-----------+------+------+-----+
|      date|campaign_id| costs|clicks|views|
+----------+-----------+------+------+-----+
|2024-01-05|         75|107.03|    26|  958|
|2024-01-05|         97|408.51|    59|  292|
+----------+-----------+------+------+-----+
only showing top 2 rows

In [39]:
costs_df.printSchema()

root
 |-- date: string (nullable = true)
 |-- campaign_id: integer (nullable = true)
 |-- costs: decimal(19,2) (nullable = true)
 |-- clicks: long (nullable = true)
 |-- views: long (nullable = true)

## 3. Кампании (csv)

In [31]:
campaigns_dict.show(5, truncate=False)

+-----------+------------------------------------------+
|campaign_id|campaign_name                             |
+-----------+------------------------------------------+
|1          |year_modern_kitchen_launch_20250115       |
|2          |quarter_custom_kitchens_showcase_20240210 |
|3          |month_smart_kitchen_promotion_20240305    |
|4          |year_luxury_kitchens_exhibit_20240420     |
|5          |quarter_ecofriendly_kitchen_offer_20240512|
+-----------+------------------------------------------+
only showing top 5 rows

In [46]:
campaigns_dict.printSchema()

root
 |-- campaign_id: integer (nullable = true)
 |-- campaign_name: string (nullable = true)

In [32]:
campaigns_df = (
    campaigns_dict
    .withColumn('campaign_id', F.col('campaign_id').cast('integer'))
    .withColumn(
        'campaign_duration',
        F.when(F.col('campaign_name').like('year%'), 'Год')
        .when(F.col('campaign_name').like('quarter%'), 'Квартал')
        .when(F.col('campaign_name').like('month%'), ' Месяц')
        .otherwise(None)
    )
)

In [51]:
campaigns_df.printSchema()

root
 |-- campaign_id: integer (nullable = true)
 |-- campaign_name: string (nullable = true)
 |-- campaign_duration: string (nullable = true)

## 4. Заявки (parquet)

In [56]:
submits.printSchema()

root
 |-- submit_id: long (nullable = true)
 |-- name: string (nullable = true)
 |-- phone: long (nullable = true)

In [57]:
submits.show(1)

+---------+--------+-----------+
|submit_id|    name|      phone|
+---------+--------+-----------+
|     2282|Jennifer|79511904041|
+---------+--------+-----------+
only showing top 1 row

In [33]:
submits_df = (
    submits
    .withColumn('phone', F.col('phone').cast('string'))
    .withColumn('phone_plus', F.concat(F.lit('+'), F.col('phone')))
    .withColumn('phone_md5', F.md5('phone'))
    .withColumn('phone_plus_md5', F.md5('phone_plus'))
)

In [57]:
submits_df.show(2, truncate = False, vertical = True)

-RECORD 0------------------------------------------
 submit_id      | 2282
 name           | Jennifer
 phone          | 79511904041
 phone_plus     | +79511904041
 phone_md5      | 4c7720fdf6f9eec623dc0f961f31f488
 phone_plus_md5 | 6ce81d5347bcd3eadb2921b7c4828e3b
-RECORD 1------------------------------------------
 submit_id      | 9898
 name           | Jeffrey
 phone          | 79824419733
 phone_plus     | +79824419733
 phone_md5      | 9d106e45036bd4176774eb94adc9aacc
 phone_plus_md5 | 43630233dcc965f9827e394038b0321a
only showing top 2 rows

In [61]:
submits_df.printSchema()

root
 |-- submit_id: long (nullable = true)
 |-- name: string (nullable = true)
 |-- phone: string (nullable = true)
 |-- phone_plus: string (nullable = true)
 |-- phone_md5: string (nullable = true)
 |-- phone_plus_md5: string (nullable = true)

## 5. Сделки (parquet)

In [65]:
deals.printSchema()

root
 |-- deal_id: long (nullable = true)
 |-- deal_date: string (nullable = true)
 |-- fio: string (nullable = true)
 |-- phone: long (nullable = true)
 |-- email: string (nullable = true)
 |-- address: string (nullable = true)

In [36]:
deals_df = (
    deals
    .withColumn('username', F.split(F.col('email'), '@').getItem(0))
    .withColumn('domain', F.split(F.col('email'), '@').getItem(1))
    .where(F.col('domain').isin('example.com', 'example.org', 'example.net'))
    .withColumn('phone', F.col('phone').cast('string'))
)

In [58]:
deals_df.show(1, vertical = True)

-RECORD 0-------------------------
 deal_id   | 1
 deal_date | 2024-03-04
 fio       | Gregory Wu
 phone     | 79746561889
 email     | paul80@example.net
 address   | 098 Yates Cliff A...
 username  | paul80
 domain    | example.net
only showing top 1 row

In [69]:
deals_df.printSchema()

root
 |-- deal_id: long (nullable = true)
 |-- deal_date: string (nullable = true)
 |-- fio: string (nullable = true)
 |-- phone: string (nullable = true)
 |-- email: string (nullable = true)
 |-- address: string (nullable = true)
 |-- username: string (nullable = true)
 |-- domain: string (nullable = true)

# Сборка витрины

Сборка витрины по концепции "One Big Table"

In [60]:
customer_detailed = (
    visits_df.alias('v')
    .join(
        submits_df.alias('s'),
        F.col('v.event_id') == F.col('s.submit_id'),
        'left'
    )
    .join(
        deals_df.alias('d'),
        (F.col('s.phone') == F.col('d.phone')) &
        (F.col('v.dt') <= F.col('d.deal_date')),
        'left'
    )
    .join(
        campaigns_df.alias('camp'),
        F.col('v.utmcampaign') == F.col('camp.campaign_name'),
        'left'
    )
    .join(
        costs_df.alias('c'),
        (F.col('camp.campaign_id') == F.col('c.campaign_id')) &
        (F.col('v.dt') == F.col('c.date')),
        'left'
    )
    .select(
        'v.dt',
        F.col('v.visitid').alias('visit_id'),
        F.col('v.clientid').alias('client_id'),
        'v.url',
        'v.duration',
        'v.source',
        'v.utmcampaign',
        'v.event_type',
        'v.event_id',
        's.submit_id',
        's.name',
        's.phone',
        's.phone_plus',
        's.phone_md5',
        's.phone_plus_md5',
        'd.deal_id',
        'd.deal_date',
        'd.fio',
        F.col('d.phone').alias('phone_deal'),
        'd.email',
        'd.address',
        'd.username',
        'd.domain',
        'camp.campaign_name',
        'camp.campaign_duration',
        'c.costs',
        'c.clicks',
        'c.views'
    )
)

In [62]:
customer_detailed.show(1, vertical = True)

-RECORD 0---------------------------------
 dt                | 2024-09-26
 visit_id          | 792167
 client_id         | 565
 url               | https://our-cool-...
 duration          | 33
 source            | ad
 utmcampaign       | month_spacesaving...
 event_type        | submit
 event_id          | 950
 submit_id         | 950
 name              | Timothy
 phone             | 79084194784
 phone_plus        | +79084194784
 phone_md5         | d43cb569ec9765f04...
 phone_plus_md5    | 0e70d155bbd56e508...
 deal_id           | NULL
 deal_date         | NULL
 fio               | NULL
 phone_deal        | NULL
 email             | NULL
 address           | NULL
 username          | NULL
 domain            | NULL
 campaign_name     | month_spacesaving...
 campaign_duration |  Месяц
 costs             | 27.86
 clicks            | 83
 views             | 496
only showing top 1 row

In [ ]:
customer_detailed.show(1, vertical = True)

In [75]:
customer_detailed.printSchema()

root
 |-- dt: string (nullable = true)
 |-- visit_id: string (nullable = true)
 |-- client_id: string (nullable = true)
 |-- url: string (nullable = true)
 |-- duration: long (nullable = true)
 |-- source: string (nullable = true)
 |-- utmcampaign: string (nullable = true)
 |-- event_type: string (nullable = true)
 |-- event_id: integer (nullable = true)
 |-- submit_id: long (nullable = true)
 |-- name: string (nullable = true)
 |-- phone: string (nullable = true)
 |-- phone_plus: string (nullable = true)
 |-- phone_md5: string (nullable = true)
 |-- phone_plus_md5: string (nullable = true)
 |-- deal_id: long (nullable = true)
 |-- deal_date: string (nullable = true)
 |-- fio: string (nullable = true)
 |-- phone_deal: string (nullable = true)
 |-- email: string (nullable = true)
 |-- address: string (nullable = true)
 |-- username: string (nullable = true)
 |-- domain: string (nullable = true)
 |-- campaign_name: string (nullable = true)
 |-- campaign_duration: string (nullable = true)
 |-- costs: decimal(19,2) (nullable = true)
 |-- clicks: long (nullable = true)
 |-- views: long (nullable = true)

In [76]:
len(customer_detailed.columns)

28

т.к будет использовать эту витрину дважды, закэшируем эту витрину

In [77]:
customer_detailed.cache()

DataFrame[dt: string, visit_id: string, client_id: string, url: string, duration: bigint, source: string, utmcampaign: string, event_type: string, event_id: int, submit_id: bigint, name: string, phone: string, phone_plus: string, phone_md5: string, phone_plus_md5: string, deal_id: bigint, deal_date: string, fio: string, phone_deal: string, email: string, address: string, username: string, domain: string, campaign_name: string, campaign_duration: string, costs: decimal(19,2), clicks: bigint, views: bigint]

In [78]:
customer_detailed.count()

2639

In [63]:
campaigns_agg = (
    customer_detailed
    .groupBy('campaign_name')
    .agg(
        F.countDistinct('visit_id').alias('unique_visits'),
        F.countDistinct('client_id').alias('unique_clients'),
        F.countDistinct('submit_id').alias('unique_submits'),
        F.countDistinct('deal_id').alias('unique_deals'),
        F.sum('costs').alias('total_costs'),
        F.sum('clicks').alias('total_clicks'),
        F.sum('views').alias('total_views'),
        F.sum('duration').alias('total_duration')
    )
    .withColumn('avg_deal_cost', (F.col('total_costs') / F.col('unique_deals')).cast('decimal(19,2)')
                                   

)
)

In [65]:
campaigns_agg.filter(F.col('total_costs').isNotNull() ).show(5, truncate = False, vertical = True)

-RECORD 0---------------------------------------------------------
 campaign_name  | year_traditional_kitchens_demo_20240725
 unique_visits  | 22
 unique_clients | 21
 unique_submits | 5
 unique_deals   | 1
 total_costs    | 11446.75
 total_clicks   | 1441
 total_views    | 14004
 total_duration | 1100
 avg_deal_cost  | 11446.75
-RECORD 1---------------------------------------------------------
 campaign_name  | month_smart_kitchens_exhibit_20240625
 unique_visits  | 20
 unique_clients | 20
 unique_submits | 10
 unique_deals   | 3
 total_costs    | 13009.71
 total_clicks   | 1001
 total_views    | 12097
 total_duration | 1030
 avg_deal_cost  | 4336.57
-RECORD 2---------------------------------------------------------
 campaign_name  | year_modern_kitchen_experience_20240702
 unique_visits  | 13
 unique_clients | 13
 unique_submits | 4
 unique_deals   | 5
 total_costs    | 8528.47
 total_clicks   | 741
 total_views    | 6076
 total_duration | 706
 avg_deal_cost  | 1705.69
-RECORD 3---------------------------------------------------------
 campaign_name  | quarter_spacesaving_kitchen_experience_20240521
 unique_visits  | 26
 unique_clients | 26
 unique_submits | 7
 unique_deals   | 3
 total_costs    | 12236.86
 total_clicks   | 1456
 total_views    | 15778
 total_duration | 1221
 avg_deal_cost  | 4078.95
-RECORD 4---------------------------------------------------------
 campaign_name  | quarter_custom_kitchen_initiative_20241102
 unique_visits  | 29
 unique_clients | 29
 unique_submits | 13
 unique_deals   | 8
 total_costs    | 16944.70
 total_clicks   | 1626
 total_views    | 17292
 total_duration | 1424
 avg_deal_cost  | 2118.09
only showing top 5 rows

In [68]:
dates_agg = (
    customer_detailed
    .groupBy(F.substring('dt', 1, 7).alias('month'))
    .agg(
        F.countDistinct('visit_id').alias('unique_visits'),
        F.countDistinct('client_id').alias('unique_clients'),
        F.countDistinct('submit_id').alias('unique_submits'),
        F.countDistinct('deal_id').alias('unique_deals'),
        F.sum('costs').alias('total_costs'),
        F.sum('clicks').alias('total_clicks'),
        F.sum('views').alias('total_views'),
        F.sum('duration').alias('total_duration')
    )
    .withColumn('avg_deal_cost', (F.col('total_costs')/F.col('unique_deals')).cast('decimal(19,2)'))
)

In [70]:
dates_agg.show(1, vertical = True)

-RECORD 0-------------------
 month          | 2024-09
 unique_visits  | 191
 unique_clients | 168
 unique_submits | 67
 unique_deals   | 15
 total_costs    | 100807.61
 total_clicks   | 10091
 total_views    | 102230
 total_duration | 10225
 avg_deal_cost  | 6720.51
only showing top 1 row

In [71]:
dates_agg.cache().count()

13

In [73]:
def save_to_postgres(df, table_name):
    (
        df.write
        .format('jdbc')
        .option('url', f'jdbc:postgresql://{pg_host}:{pg_port}/{pg_db}')
        .option('dbtable', table_name)
        .option('user', pg_user)
        .option('password', pg_password)
        .option('driver', 'org.postgresql.Driver')
        .mode("overwrite")
        .save()
    )

In [75]:
pg_db

'webinar'

In [ ]:
Сохраним витрину данных в Postresql

In [74]:
save_to_postgres(customer_detailed, 'customer_detailed')

In [76]:
save_to_postgres(campaigns_agg, 'campaigns_agg')

In [77]:
save_to_postgres(dates_agg, 'dates_agg')

# Расчет метрик и анализ полученных данных

## 1. Кампании без выручки

In [80]:
(
campaigns_agg
.where('unique_deals = 0')
.select('campaign_name', 'total_costs', 'unique_deals')
.sort('total_costs')
.show(truncate=False)
)

+-----------------------------------------------+-----------+------------+
|campaign_name                                  |total_costs|unique_deals|
+-----------------------------------------------+-----------+------------+
|month_smart_kitchens_launch_20240330           |7417.29    |0           |
|quarter_custom_kitchens_showcase_20240210      |8397.63    |0           |
|month_contemporary_kitchens_event_20241208     |9077.02    |0           |
|month_contemporary_kitchens_event_20240920     |10256.14   |0           |
|month_ecofriendly_kitchens_experience_20241219 |10682.85   |0           |
|quarter_ecofriendly_kitchen_experience_20241119|10999.04   |0           |
|month_smart_kitchen_promotion_20240305         |11430.88   |0           |
|year_traditional_kitchens_showcase_20241018    |12105.87   |0           |
|year_modern_kitchens_demo_20240419             |12427.38   |0           |
|month_openconcept_kitchens_initiative_20240328 |13187.82   |0           |
|quarter_luxury_kitchens_innovation_20241116    |13405.47   |0           |
|month_openconcept_kitchens_experience_20240910 |14837.06   |0           |
|quarter_custom_kitchens_experience_20240527    |15732.40   |0           |
+-----------------------------------------------+-----------+------------+

Найдем сколько всего таких кампаний и сколько денег было потрачено на них

In [82]:
(
    campaigns_agg
    .where('unique_deals = 0')
    .select(F.countDistinct('campaign_name'), F.sum('total_costs'))
    .show()
)

+-----------------------------+----------------+
|count(DISTINCT campaign_name)|sum(total_costs)|
+-----------------------------+----------------+
|                           13|       149956.85|
+-----------------------------+----------------+

## 2. Средняя цена сделки

Посмотрим распределениее кампаний по средней цене сделки. Сортировка по убыванию

In [85]:
(
    campaigns_agg
    .where('unique_deals > 0')
    .select('campaign_name', 'total_costs', 'unique_deals', 'avg_deal_cost')
    .sort('avg_deal_cost', ascending = False)
    .show(truncate = False)
)

+-----------------------------------------------+-----------+------------+-------------+
|campaign_name                                  |total_costs|unique_deals|avg_deal_cost|
+-----------------------------------------------+-----------+------------+-------------+
|quarter_spacesaving_kitchen_innovation_20240825|16861.94   |1           |16861.94     |
|month_contemporary_kitchen_showcase_20240630   |15880.89   |1           |15880.89     |
|quarter_custom_kitchen_show_20240213           |15874.75   |1           |15874.75     |
|year_luxury_kitchens_show_20241001             |14752.07   |1           |14752.07     |
|quarter_spacesaving_kitchen_showcase_20240228  |14382.19   |1           |14382.19     |
|month_custom_kitchens_show_20241205            |13947.35   |1           |13947.35     |
|year_traditional_kitchens_launch_20240707      |13857.96   |1           |13857.96     |
|year_traditional_kitchens_experience_20240715  |12925.29   |1           |12925.29     |
|quarter_spacesaving_kitchen_innovation_20241103|12503.80   |1           |12503.80     |
|year_traditional_kitchens_initiative_20250105  |12073.25   |1           |12073.25     |
|month_smart_kitchens_event_20240614            |11721.06   |1           |11721.06     |
|year_luxury_kitchens_fair_20240716             |11566.59   |1           |11566.59     |
|year_traditional_kitchens_demo_20240725        |11446.75   |1           |11446.75     |
|month_contemporary_kitchen_launch_20240322     |11377.24   |1           |11377.24     |
|month_smart_kitchens_launch_20240905           |11311.87   |1           |11311.87     |
|quarter_ecofriendly_kitchen_show_20240530      |11177.11   |1           |11177.11     |
|year_luxury_kitchens_exhibit_20240420          |11036.12   |1           |11036.12     |
|quarter_ecofriendly_kitchens_showcase_20240823 |10576.01   |1           |10576.01     |
|month_openconcept_kitchens_event_20240618      |10021.65   |1           |10021.65     |
|quarter_ecofriendly_kitchens_launch_20240205   |17723.31   |2           |8861.66      |
+-----------------------------------------------+-----------+------------+-------------+
only showing top 20 rows

## 3.Убыточные кампании, при допущении что каждая сделка стоит 5000

In [88]:
(
    campaigns_agg
    .select('campaign_name', 'total_costs', 'unique_deals', 'avg_deal_cost')
    .withColumn('revenue', F.col('unique_deals')*F.lit(5000))
    .withColumn('profit', F.col('revenue') - F.col('total_costs'))
    .sort('profit')
    .show(truncate=False)
)

+-----------------------------------------------+-----------+------------+-------------+-------+---------+
|campaign_name                                  |total_costs|unique_deals|avg_deal_cost|revenue|profit   |
+-----------------------------------------------+-----------+------------+-------------+-------+---------+
|quarter_custom_kitchens_experience_20240527    |15732.40   |0           |NULL         |0      |-15732.40|
|month_openconcept_kitchens_experience_20240910 |14837.06   |0           |NULL         |0      |-14837.06|
|quarter_luxury_kitchens_innovation_20241116    |13405.47   |0           |NULL         |0      |-13405.47|
|month_openconcept_kitchens_initiative_20240328 |13187.82   |0           |NULL         |0      |-13187.82|
|year_modern_kitchens_demo_20240419             |12427.38   |0           |NULL         |0      |-12427.38|
|year_traditional_kitchens_showcase_20241018    |12105.87   |0           |NULL         |0      |-12105.87|
|quarter_spacesaving_kitchen_innovation_20240825|16861.94   |1           |16861.94     |5000   |-11861.94|
|month_smart_kitchen_promotion_20240305         |11430.88   |0           |NULL         |0      |-11430.88|
|quarter_ecofriendly_kitchen_experience_20241119|10999.04   |0           |NULL         |0      |-10999.04|
|month_contemporary_kitchen_showcase_20240630   |15880.89   |1           |15880.89     |5000   |-10880.89|
|quarter_custom_kitchen_show_20240213           |15874.75   |1           |15874.75     |5000   |-10874.75|
|month_ecofriendly_kitchens_experience_20241219 |10682.85   |0           |NULL         |0      |-10682.85|
|month_contemporary_kitchens_event_20240920     |10256.14   |0           |NULL         |0      |-10256.14|
|year_luxury_kitchens_show_20241001             |14752.07   |1           |14752.07     |5000   |-9752.07 |
|quarter_spacesaving_kitchen_showcase_20240228  |14382.19   |1           |14382.19     |5000   |-9382.19 |
|month_contemporary_kitchens_event_20241208     |9077.02    |0           |NULL         |0      |-9077.02 |
|month_custom_kitchens_show_20241205            |13947.35   |1           |13947.35     |5000   |-8947.35 |
|year_traditional_kitchens_launch_20240707      |13857.96   |1           |13857.96     |5000   |-8857.96 |
|quarter_custom_kitchens_showcase_20240210      |8397.63    |0           |NULL         |0      |-8397.63 |
|year_traditional_kitchens_experience_20240715  |12925.29   |1           |12925.29     |5000   |-7925.29 |
+-----------------------------------------------+-----------+------------+-------------+-------+---------+
only showing top 20 rows

## 4. Топ прибыльных кампаний, при допущении что каждая сделака стоит 5000

In [89]:
(
    campaigns_agg
    .select('campaign_name', 'total_costs', 'unique_deals', 'avg_deal_cost')
    .withColumn('revenue', F.col('unique_deals')*F.lit(5000))
    .withColumn('profit', F.col('revenue') - F.col('total_costs'))
    .sort('profit', ascending = False)
    .show(truncate=False)
)

+------------------------------------------------+-----------+------------+-------------+-------+--------+
|campaign_name                                   |total_costs|unique_deals|avg_deal_cost|revenue|profit  |
+------------------------------------------------+-----------+------------+-------------+-------+--------+
|quarter_custom_kitchens_innovation_20240817     |15356.76   |10          |1535.68      |50000  |34643.24|
|quarter_custom_kitchens_experience_20240222     |16131.74   |9           |1792.42      |45000  |28868.26|
|year_modern_kitchens_showcase_20241014          |11705.53   |8           |1463.19      |40000  |28294.47|
|month_contemporary_kitchens_promotion_20241215  |14908.49   |8           |1863.56      |40000  |25091.51|
|quarter_custom_kitchen_initiative_20241102      |16944.70   |8           |2118.09      |40000  |23055.30|
|year_traditional_kitchens_fair_20240415         |19396.53   |8           |2424.57      |40000  |20603.47|
|month_openconcept_kitchens_promotion_20240628   |13101.37   |6           |2183.56      |30000  |16898.63|
|year_modern_kitchen_experience_20240702         |8528.47    |5           |1705.69      |25000  |16471.53|
|year_smart_kitchens_initiative_20241004         |14583.82   |6           |2430.64      |30000  |15416.18|
|quarter_spacesaving_kitchens_innovation_20240212|16599.41   |6           |2766.57      |30000  |13400.59|
|year_smart_kitchens_event_20250102              |11699.64   |5           |2339.93      |25000  |13300.36|
|quarter_ecofriendly_kitchens_show_20240217      |15766.13   |5           |3153.23      |25000  |9233.87 |
|year_modern_kitchens_exhibit_20250117           |11523.99   |4           |2881.00      |20000  |8476.01 |
|quarter_custom_kitchens_initiative_20240815     |21661.32   |6           |3610.22      |30000  |8338.68 |
|year_luxury_kitchens_initiative_20240422        |17080.13   |5           |3416.03      |25000  |7919.87 |
|month_smart_kitchen_innovation_20241202         |12080.23   |4           |3020.06      |20000  |7919.77 |
|year_luxury_kitchens_innovation_20240409        |12400.86   |4           |3100.22      |20000  |7599.14 |
|month_openconcept_kitchens_launch_20240611      |12627.93   |4           |3156.98      |20000  |7372.07 |
|quarter_ecofriendly_kitchens_demo_20240514      |8070.52    |3           |2690.17      |15000  |6929.48 |
|month_contemporary_kitchens_collection_20240914 |18549.00   |5           |3709.80      |25000  |6451.00 |
+------------------------------------------------+-----------+------------+-------------+-------+--------+
only showing top 20 rows

## 5. Рассмотрим метрики в разбивке по месяцам

In [101]:
(
    dates_agg
    .withColumn('revenue', F.col('unique_deals') * F.lit(5000))
    .withColumn('profit', F.col('revenue') - F.col('total_costs'))
    #.drop('total_duration', 'total_views')
    .sort('month')
    .show()
)

+-------+-------------+--------------+--------------+------------+-----------+------------+-----------+--------------+-------------+-------+---------+
|  month|unique_visits|unique_clients|unique_submits|unique_deals|total_costs|total_clicks|total_views|total_duration|avg_deal_cost|revenue|   profit|
+-------+-------------+--------------+--------------+------------+-----------+------------+-----------+--------------+-------------+-------+---------+
|2024-01|          204|           185|            68|          36|  114500.26|       11503|     121211|         12066|      3180.56| 180000| 65499.74|
|2024-02|          184|           164|            55|          28|   98550.71|        8960|     101263|         10213|      3519.67| 140000| 41449.29|
|2024-03|          182|           164|            57|          34|   99016.38|       10123|     103950|         10311|      2912.25| 170000| 70983.62|
|2024-04|          187|           166|            53|          21|   99450.75|        9704|     106688|          8394|      4735.75| 105000|  5549.25|
|2024-05|          188|           174|            68|          30|   98370.96|       10277|      96216|          9905|      3279.03| 150000| 51629.04|
|2024-06|          213|           185|            73|          22|  119465.06|       11687|     116962|         12160|      5430.23| 110000| -9465.06|
|2024-07|          227|           201|            97|          31|  130429.28|       12057|     126608|         13147|      4207.40| 155000| 24570.72|
|2024-08|          185|           168|            61|          20|  101370.66|       10503|      93264|         10817|      5068.53| 100000| -1370.66|
|2024-09|          191|           168|            67|          15|  100807.61|       10091|     102230|         10225|      6720.51|  75000|-25807.61|
|2024-10|          166|           154|            48|           8|   90724.62|        8663|      88011|          8335|     11340.58|  40000|-50724.62|
|2024-11|          169|           153|            55|          10|   95950.90|        8920|      93793|          8522|      9595.09|  50000|-45950.90|
|2024-12|          194|           173|            61|           3|   94383.07|       10071|     102543|         10472|     31461.02|  15000|-79383.07|
|2025-01|          143|           131|            49|           1|   76898.52|        7578|      77122|          7926|     76898.52|   5000|-71898.52|
+-------+-------------+--------------+--------------+------------+-----------+------------+-----------+--------------+-------------+-------+---------+

## 6. Суммарные затраты на рекламу за год

In [92]:
dates_agg.select(F.sum('total_costs')).show()

+----------------+
|sum(total_costs)|
+----------------+
|      1319918.78|
+----------------+

##  7.Обнаружение аномалий с помощью Z-score

Z-score (стандартизированная оценка, стандартизированное значение) — статистическая мера, показывающая, на сколько стандартных отклонений наблюдение отличается от среднего значения в выборке.

In [112]:
def detect_anomalies(df, metric_col, threshold=2.0):
    window = Window.partitionBy().rowsBetween(Window.unboundedPreceding, Window.unboundedFollowing)
    df_with_stats = df.withColumn("mean", avg(metric_col).over(window)) \
                     .withColumn("stddev", stddev(metric_col).over(window))
    
    df_with_anomalies = df_with_stats.withColumn(
        "z_score", 
        abs((col(metric_col) - col("mean")) / col("stddev"))
    ).withColumn(
        "is_anomaly", 
        col("z_score") > threshold
    )
    
    return df_with_anomalies

In [117]:
campaigns_agg_with_anomalies = detect_anomalies(campaigns_agg, "total_costs", 2.5)
campaigns_agg_with_anomalies.filter('is_anomaly = true').show(truncate = False, vertical = True)

-RECORD 0-----------------------------------------------------
 campaign_name  | month_openconcept_kitchen_exhibit_20240327
 unique_visits  | 33
 unique_clients | 32
 unique_submits | 12
 unique_deals   | 5
 total_costs    | 22668.32
 total_clicks   | 2048
 total_views    | 19423
 total_duration | 1869
 avg_deal_cost  | 4533.66
 mean           | 13332.512929
 stddev         | 3148.7181620832885
 z_score        | 2.964954813492467
 is_anomaly     | true
-RECORD 1-----------------------------------------------------
 campaign_name  | quarter_custom_kitchens_initiative_20240815
 unique_visits  | 37
 unique_clients | 37
 unique_submits | 14
 unique_deals   | 6
 total_costs    | 21661.32
 total_clicks   | 2077
 total_views    | 21683
 total_duration | 2377
 avg_deal_cost  | 3610.22
 mean           | 13332.512929
 stddev         | 3148.7181620832885
 z_score        | 2.645142131580746
 is_anomaly     | true

Вывод: Есть две кампании с аномально высокими затратами на их проведение. вероятно, эти выбросы связаны с проведением масштабных мероприятий/выставок.

In [121]:
dates_agg_with_anomalies = detect_anomalies(dates_agg, "total_costs", 2.5)
dates_agg_with_anomalies.filter('is_anomaly = true').show(vertical = True)

(0 rows)

Вывод: Нет месяцев с экстремально высокими или низкими затратами. Это хороший знак - бюджет распределен равномерно в течение года

## 8. Расчет воронки с конверсиями

In [131]:
funnel_analysis = (
    campaigns_agg
    .withColumn("visits_to_clients", 
                round(F.col("unique_clients") / F.col("unique_visits") * 100, 2))
    .withColumn("clients_to_submits", 
                round(F.col("unique_submits") / F.col("unique_clients") * 100, 2))
    .withColumn("submits_to_deals", 
                round(F.col("unique_deals") / F.col("unique_submits") * 100, 2))
    .withColumn("overall_conversion", 
                round(F.col("unique_deals") / F.col("unique_visits") * 100, 2))
    .select(
        "campaign_name",
        "unique_visits",
        "unique_clients", 
        "unique_submits",
        "unique_deals",
        "visits_to_clients",
        "clients_to_submits", 
        "submits_to_deals",
        "overall_conversion",
        "total_costs"
    )
)

Топ-10 кампаний по общей конверсии

In [130]:
funnel_analysis.orderBy(F.desc("overall_conversion")).show(10, truncate=False)

+----------------------------------------------+-------------+--------------+--------------+------------+-----------------+------------------+----------------+------------------+-----------+
|campaign_name                                 |unique_visits|unique_clients|unique_submits|unique_deals|visits_to_clients|clients_to_submits|submits_to_deals|overall_conversion|total_costs|
+----------------------------------------------+-------------+--------------+--------------+------------+-----------------+------------------+----------------+------------------+-----------+
|year_modern_kitchen_experience_20240702       |13           |13            |4             |5           |100.0            |30.77             |125.0           |38.46             |8528.47    |
|year_modern_kitchens_showcase_20241014        |23           |22            |9             |8           |95.65            |40.91             |88.89           |34.78             |11705.53   |
|month_contemporary_kitchens_promotion_20241215|24           |24            |11            |8           |100.0            |45.83             |72.73           |33.33             |14908.49   |
|quarter_custom_kitchens_innovation_20240817   |31           |30            |13            |10          |96.77            |43.33             |76.92           |32.26             |15356.76   |
|year_traditional_kitchens_fair_20240415       |27           |26            |11            |8           |96.3             |42.31             |72.73           |29.63             |19396.53   |
|quarter_custom_kitchens_experience_20240222   |31           |30            |12            |9           |96.77            |40.0              |75.0            |29.03             |16131.74   |
|quarter_custom_kitchen_initiative_20241102    |29           |29            |13            |8           |100.0            |44.83             |61.54           |27.59             |16944.70   |
|month_openconcept_kitchens_promotion_20240628 |22           |22            |9             |6           |100.0            |40.91             |66.67           |27.27             |13101.37   |
|year_luxury_kitchens_innovation_20240409      |18           |18            |8             |4           |100.0            |44.44             |50.0            |22.22             |12400.86   |
|year_smart_kitchens_event_20250102            |23           |23            |7             |5           |100.0            |30.43             |71.43           |21.74             |11699.64   |
+----------------------------------------------+-------------+--------------+--------------+------------+-----------------+------------------+----------------+------------------+-----------+
only showing top 10 rows

In [125]:
save_to_postgres(funnel_analysis, 'funnel_analysis')

Поиск узких мест в воронке

In [128]:
bottleneck_analysis = (
    funnel_analysis
    .withColumn("bottleneck_stage", 
                F.when(F.col("submits_to_deals") < 10, "Низкая конверсия из заявок в сделки")
                .when(F.col("clients_to_submits") < 10, "Низкая конверсия из клиентов в заявки")
                .when(F.col("visits_to_clients") < 10, "Низкая конверсия из визитов в клиентов")
                .otherwise("Нет явных узких мест"))
    .select("campaign_name", "bottleneck_stage", "overall_conversion")
    .orderBy("overall_conversion")
)

print("Анализ узких мест в воронке:")
bottleneck_analysis.show(truncate=False)

Анализ узких мест в воронке:
+-----------------------------------------------+-----------------------------------+------------------+
|campaign_name                                  |bottleneck_stage                   |overall_conversion|
+-----------------------------------------------+-----------------------------------+------------------+
|quarter_custom_kitchens_showcase_20240210      |Низкая конверсия из заявок в сделки|0.0               |
|year_modern_kitchens_demo_20240419             |Низкая конверсия из заявок в сделки|0.0               |
|month_ecofriendly_kitchens_experience_20241219 |Низкая конверсия из заявок в сделки|0.0               |
|month_contemporary_kitchens_event_20241208     |Низкая конверсия из заявок в сделки|0.0               |
|month_openconcept_kitchens_experience_20240910 |Низкая конверсия из заявок в сделки|0.0               |
|month_smart_kitchens_launch_20240330           |Низкая конверсия из заявок в сделки|0.0               |
|year_traditional_kitchens_showcase_20241018    |Низкая конверсия из заявок в сделки|0.0               |
|quarter_ecofriendly_kitchen_experience_20241119|Низкая конверсия из заявок в сделки|0.0               |
|quarter_custom_kitchens_experience_20240527    |Низкая конверсия из заявок в сделки|0.0               |
|quarter_luxury_kitchens_innovation_20241116    |Низкая конверсия из заявок в сделки|0.0               |
|month_smart_kitchen_promotion_20240305         |Низкая конверсия из заявок в сделки|0.0               |
|month_contemporary_kitchens_event_20240920     |Низкая конверсия из заявок в сделки|0.0               |
|month_openconcept_kitchens_initiative_20240328 |Низкая конверсия из заявок в сделки|0.0               |
|quarter_spacesaving_kitchen_innovation_20240825|Нет явных узких мест               |3.03              |
|month_contemporary_kitchen_showcase_20240630   |Нет явных узких мест               |3.23              |
|quarter_custom_kitchen_show_20240213           |Нет явных узких мест               |3.33              |
|year_luxury_kitchens_show_20241001             |Нет явных узких мест               |3.7               |
|quarter_ecofriendly_kitchen_show_20240530      |Нет явных узких мест               |3.85              |
|month_contemporary_kitchen_launch_20240322     |Нет явных узких мест               |4.0               |
|quarter_ecofriendly_kitchens_showcase_20240823 |Низкая конверсия из заявок в сделки|4.0               |
+-----------------------------------------------+-----------------------------------+------------------+
only showing top 20 rows

# Завершение Spark session

In [93]:

customer_detailed.unpersist()
campaigns_agg.unpersist()
dates_agg.unpersist()

DataFrame[month: string, unique_visits: bigint, unique_clients: bigint, unique_submits: bigint, unique_deals: bigint, total_costs: decimal(29,2), total_clicks: bigint, total_views: bigint, total_duration: bigint, avg_deal_cost: decimal(19,2)]

In [ ]:
spark.stop()